{{#myposts}}
  <div class="head_blog">
    <h4> {{created_at}}</h4>
    <h1> {{titel}}</h1>
    <div
      class="bg-img"
      style="background-image: url(/uploads/{{bild1}});"
    ></div>
  </div>

  <p>{{inhalt}}</p>
  <div class="gallery">
    <div
      class="bg-img"
      style="background-image: url(/uploads/{{bild2}});"
    ></div>

    <div
      class="bg-img hoch"
      style="background-image: url(/uploads/{{bild3}});"
    ></div>

    <div
      class="bg-img"
      style="background-image: url(/uploads/{{bild4}});"
    ></div>
  </div>
{{/myposts}}

<div class="post">
  <div class="form">
    <a href="/post"><img src="/icons/upload.png" alt="icon post" /></a>
  </div>
</div>

<form
action="/like/{{id}}"
enctype="multipart/form-data"
method="POST"
>
<input type="image" src="/icons/herzz.png" class="heart_blog" onclick="like(event)" />
</form>
<script>
function like(event) {
  event.preventDefault(); // Prevent the form from submitting
  const heart = event.target; // Identify the clicked element
  
  // Toggle the 'liked' state
  if (heart.classList.contains('liked')) {
    heart.classList.remove('liked');
    heart.src = "/icons/herzz.png"; // Reset to the original image
  } else {
    heart.classList.add('liked');
    heart.src = "/icons/herzred.png"; // Change to the red heart image
  }
}
</script>    
<div class="middle_button">
  <a href="/">
    <button type="submit">back to overview</button>
  </a>
</div>