<body>

  <div
    class="titelcard"
    style="background-image: url(/uploads/{{firstPost.bild1}});"
  >
    <h1 class="white">{{firstPost.titel}} </h1>
    <h3 class="white">{{firstPost.untertitel}}</h3>
    <a href="/blogdetail/{{firstPost.id}}"><button class="white">View Blog</button></a>
  </div>

  <h2>Welcome to our Travel-Page </h2>
  <h3 class="black">Enjoy the journey through our post</h3>

  <div class="post">
    <div class="form">
      <a href="/post"><img src="/icons/upload.png" alt="icon post" /></a>
    </div>
  </div>

  <div class="flex">
    {{#posts}}
      <a href="/blogdetail/{{id}}">
        <div
          class="destination"
          style="background-image: url(/uploads/{{bild1}});"
        >
          <h4 class="white">{{titel}}</h4>
          <p class="white">{{untertitel}}</p>
          <form
            action="/like/{{id}}"
            enctype="multipart/form-data"
            method="POST"
          >
          <input type="image" src="/icons/herz.png" class="heart" onclick="like(event)" />
          </form>
          <script>
            function like(event) {
            // Check if the user is logged in first - todo

              if (!req.session.userid) {
              res.redirect("/login");
              return;
              }
              
              event.preventDefault(); // Prevent the form from submitting
              const heart = event.target; // Identify the clicked element
             
              // Toggle the 'liked' state
              if (heart.classList.contains('liked')) {
                heart.classList.remove('liked');
                heart.src = "/icons/herz.png"; // Reset to the original image
              } else {
                heart.classList.add('liked');
                heart.src = "/icons/herzred.png"; // Change to the red heart image
              }
            }
          </script>    
        </div>
      </a>
    {{/posts}}
  </div>

</body>